﻿@model PersonalSecurity.Areas.HouseHold.Models.HouseHoldModel
@{
    ViewBag.Title = "Household Details List";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}

@Html.Partial("_LayouLeftSideBarAgency")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>Household List</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {                               
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("Province")
                                            @Html.DropDownListFor(m => m.state, PersonalSecurity.CommonUtilities.GetProvinces(), "All", new { @class = "form-control",  @onchange = "GetDistrictNameStateWise()" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("District")
                                            @Html.DropDownListFor(m => m.state_dist, PersonalSecurity.CommonUtilities.GetprovincesDistrictOfNepal(Convert.ToInt32(Model.state)),"All", new { @class = "form-control",@onchange="GetProvincesVDCDetailsByDistrictId()" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("Mun/Rural-Mun")
                                            @Html.DropDownListFor(m => m.lbcode_new, PersonalSecurity.CommonUtilities.GetProvincesVDCNPTitle(Convert.ToInt32(Model.state_dist)),"All", new { @class = "form-control" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("Ward No")
                                            @Html.DropDownListFor(m => m.lb_ward, PersonalSecurity.CommonUtilities.GetWardNo(),"All", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("Poor Category")
                                            @Html.DropDownListFor(m => m.poor_popln, PersonalSecurity.CommonUtilities.GetPoorTypeForAgency(),"All", new { @class = "form-control" })
                                        </div>
                                         <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.Label("Household Number")
                                            @Html.TextBoxFor(m => m.householdID1, new { @class = "form-control" })
                                        </div>

                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success btn-sm">Search</button>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Household Details<small>Total :@Model.HouseHoldModelList.Count()</small></h2>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.Label("Household Number")</th>
                                <th>District</th>
                                <th>@Html.Label("Mun/Rural-Mun")</th>
                                <th>@Html.Label("Ward No")</th>
                                <th>@Html.Label("Vdc/Mun")</th>
                                <th>@Html.Label("Ward No")</th>
                                <th>@Html.Label("Settlement")</th>                               
                                <th>Household Name</th>
                                <th>Sex</th>
                                <th>Age</th>
                                <th>Fath's/Husb's Name</th>
                                <th>@Html.Label("Poor Category")</th>
                                <th>Colour</th>
                                <th>Action</th>
                                

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.HouseHoldModelList)
                            {
                                <tr>
                                    <td>@item.householdID1</td>
                                    <td>@item.dist_Unicode</td>
                                    <td>@item.lbody_Unicode</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.lb_ward))</td>
                                    <td>@item.new_vdc_mun_Unicode</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.new_ward))</td>
                                    <td>@item.setlmnt_Unicode</td>
                                    <td>@item.FullName</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetGender(item.sex)</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.age))</td>
                                    <th>@item.FatherHusbandFullName</th>
                                    <th>@PersonalSecurity.CommonUtilities.GetPoorTypeinNepali(item.poor_popln)</th>
                                    <th style="background-color:@PersonalSecurity.CommonUtilities.GetPoorTypecolor(item.poor_popln)"></th>
                                    <td>@Html.ActionLink("Distribution", "AddDistribution","Distribution", new { @id = item.householdID1 }, new { @class = "fa fa-pencil-square-o" })</td>
                                    

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>





    <br />


</div>

<script src="~/vendors/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetDistrictNameStateWise() {
        var value = k('#state option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesDistrictByProId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value },
            success: function (data) {
                var items = "";
                items += "<option value=''>" + 'All' + "</option>";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                k("#state_dist").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>


<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetProvincesVDCDetailsByDistrictId() {

        var value = k('#state_dist option:selected').val();
        var StateId = k('#state option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesVDCByDistrictId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value, StateId: StateId },
            success: function (data) {
                var items = "";
                items += "<option value=''>" + 'All' + "</option>";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#lbcode_new").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>
@*<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>  
  
        $( document ).ready(function() {
            alert('hello');
            $("#poor_popln option").each(function () {
                if ($(this).val() != '') {
                    var col;
                    if ($(this).val() == 1) {
                        col = 'red';
                    } else if ($(this).val() == 2) { col = 'yellow'; } else if ($(this).val() == 3) { col = 'blue';}
                    $(this).css('background-color', col);
                }
            });
        });

</script>*@

