﻿@model PersonalSecurity.Areas.HouseHold.Models.HouseHoldModel
@{
    ViewBag.Title = "घरपरिवार विवरण सूची";
    Layout = "~/Areas/HouseHold/Views/Shared/_LayoutHousehold.cshtml";
}

@Html.Partial("_LayouLeftSideBarHousehold")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>घरपरिवार विवरण</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {                               
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.state)
                                            @Html.DropDownListFor(m => m.state, PersonalSecurity.CommonUtilities.GetProvinces(), "सबै", new { @class = "form-control",  @onchange = "GetDistrictNameStateWise()" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.state_dist)
                                            @Html.DropDownListFor(m => m.state_dist, PersonalSecurity.CommonUtilities.GetprovincesDistrictOfNepal(Convert.ToInt32(Model.state)),"सबै", new { @class = "form-control",@onchange="GetProvincesVDCDetailsByDistrictId()" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.new_vdc_mun)
                                            @Html.DropDownListFor(m => m.lbcode_new, PersonalSecurity.CommonUtilities.GetProvincesVDCNPTitle(Convert.ToInt32(Model.state_dist)),"सबै", new { @class = "form-control" })

                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.new_ward)
                                            @Html.DropDownListFor(m => m.lb_ward, PersonalSecurity.CommonUtilities.GetWardNo(),"सबै", new { @class = "form-control" })
                                        </div>
                                         <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.poor_popln)
                                            @Html.DropDownListFor(m => m.poor_popln, PersonalSecurity.CommonUtilities.GetPoorType(),"सबै", new { @class = "form-control" })
                                        </div>
                                         <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.householdID1)
                                            @Html.TextBoxFor(m => m.householdID1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success btn-sm">@PersonalSecurity.CommonUtilities.GetSearchLabel()</button>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>








    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>घरपरिवार सूची<small>जम्मा :@Model.HouseHoldModelList.Count()</small></h2>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.householdID1)</th>
                                <th>@Html.LabelFor(m => m.dist_Unicode)</th>
                                <th>@Html.LabelFor(m => m.lbody_Unicode)</th>
                                <th>@Html.LabelFor(m => m.lb_ward)</th>
                                <th>@Html.LabelFor(m => m.new_vdc_mun_Unicode)</th>
                                <th>@Html.LabelFor(m => m.new_ward)</th>
                                <th>@Html.LabelFor(m => m.setlmnt_Unicode)</th>                               
                                <th>घरमूलिको नाम थर</th>
                                <th>@Html.LabelFor(m => m.sex)</th>
                                <th>@Html.LabelFor(m => m.age)</th>
                                <th>बाबु/पतिको नामथर</th>
                                <th>@Html.LabelFor(m => m.poor_popln)</th>
                                <th>रङ</th>
                                

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.HouseHoldModelList)
                            {
                                <tr>
                                    <td>@item.householdID1</td>
                                    <td>@item.dist_Unicode</td>
                                    <td>@item.lbody_Unicode</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.lb_ward))</td>
                                    <td>@item.new_vdc_mun_Unicode</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.new_ward))</td>
                                    <td>@item.setlmnt_Unicode</td>
                                    <td>@item.FullName</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetGender(item.sex)</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetNeplaiNumber(Convert.ToInt32(item.age))</td>
                                    <th>@item.FatherHusbandFullName</th>
                                    <th>@PersonalSecurity.CommonUtilities.GetPoorTypeinNepali(item.poor_popln)</th>
                                    <th style="background-color:@PersonalSecurity.CommonUtilities.GetPoorTypecolor(item.poor_popln)"></th>


                                    @* <td>@Html.ActionLink("Edit", "Edit", new { @id = item.AgencyId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.AgencyId }, new { @class = "fa fa-trash" })*@

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>





    <br />


</div>

<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetDistrictNameStateWise() {
        var value = k('#state option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesDistrictByProId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value },
            success: function (data) {
                var items = "";
                items += "<option value=''>" + 'सबै' + "</option>";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                k("#state_dist").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>


<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetProvincesVDCDetailsByDistrictId() {

        var value = k('#state_dist option:selected').val();
        var StateId = k('#state option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesVDCByDistrictId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value, StateId: StateId },
            success: function (data) {
                var items = "";
                items += "<option value=''>" + 'सबै' + "</option>";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#lbcode_new").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>

