﻿@model PersonalSecurity.Models.LocalPasswordModel



<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div>
                    <p class="message-success">@ViewBag.StatusMessage</p>
                    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
                </div>

                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>पासवर्ड परिवर्तन</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">

                                @using (Html.BeginForm("Manage", "Account"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()

                                    <fieldset>
                                        <legend></legend>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                                @Html.LabelFor(m => m.OldPassword)
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                                            </div>


                                            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                                @Html.LabelFor(m => m.NewPassword)
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                                @Html.LabelFor(m => m.ConfirmPassword)
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <button type="submit" class="btn btn-success">परिवर्तन गर्नुहोस</button>
                                            </div>
                                        </div>





                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
