﻿@model PersonalSecurity.Models.UsersModel

@{
    ViewBag.Title = "Edit Permission";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}


@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Permission(s)</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    @using (Html.BeginForm("EditUserPermission", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()  
          
                        foreach (var Controller in PersonalSecurity.CommonUtilities.PopulateControllerList())
                        {
                        <span>@Controller.DisplayTitle</span>
                        <br />

                            for (int j = 0; j < Model.webActionList.Count(); j++)
                            {
                                if (Model.webActionList[j].ControllerId == Controller.ControllerId)
                                {
                        @Html.CheckBoxFor(model => Model.webActionList[j].CheckStatus)
                        @Html.HiddenFor(model => Model.webActionList[j].ActionId)
                       
                        <span>@Model.webActionList[j].DisplayTitle</span>
                                }


                            }

                        <br />

                        }
                      
                        <input type="submit" value="Update" class="btn btn-primary" id="btnSave" name="btnSave" />
                    }



                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- /page content -->

