﻿@model PersonalSecurity.Models.LoginModel

@{
    ViewBag.Title = "सामाजिक सुरक्षा:गरीब घरपरिवार सहयोग समन्वय बोर्डको सचिवालय";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>सामाजिक सुरक्षा:गरीब घरपरिवार सहयोग समन्वय बोर्डको सचिवालय</title>

    <!-- Bootstrap -->

    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="row">
                <div style="text-align: center;">
                    <img src="~/Images/nepalilogo.png" height="100" width="100" />
                </div>
                <div style="font-weight: bold; text-align: center;">
                    गरीब घरपरिवार सहयोग समन्वय बोर्डको सचिवालय
                </div>
            </div>
            <div class="animate form login_form" style="margin-top: 90px;">
                <section class="login_content">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                        
                        <div>
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "प्रयोगकर्ता", @class = "form-control", @required = "required", @id = "UName", @onblur = "MakeFocus()" })
                            @Html.ValidationMessageFor(m => m.UserName)


                        </div>
                        <div>
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "पासवर्ड", @required = "required", @class = "form-control", @id = "UPass" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">लगईन</button>

                            @* <a class="reset_pass" href="#">Lost your password?</a>*@
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">

                                <a href="~/AgencyRegistration/AgencyRegister" class="to_register">Agency Registration </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                @*  <h1><i class="fa fa-paw"></i>गरीब घरपरिवार सहयोग समन्वय बोर्डको सचिवालय</h1>*@
                                <p>गरीब घरपरिवार सहयोग समन्वय बोर्डको सचिवालय </p>
                                <p>© २०१८ सबै अधिकार सुरक्षित</p>
                            </div>
                        </div>
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                 
                                <a href="#signin" class="to_register">Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i>4Pixs Solution.</h1>
                                <p>©2016 All Rights Reserved</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
