﻿@model PersonalSecurity.Models.LocalPasswordModel
@{
    ViewBag.Title = "पासवर्ड परिवर्तन";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@Html.Partial("_LayouLeftSideBarAdmin")


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
