﻿@model PersonalSecurity.Models.UsersModel

@{
    ViewBag.Title = "प्रयोगकर्ता रोल-सूची";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}


@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>प्रयोगकर्ता रोल-सूची<small>@PersonalSecurity.CommonUtilities.GetTotalLabel() :@PersonalSecurity.CommonUtilities.GetUserRoleList().Count</small></h2>                    

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>क्रम संख्या</th>
                                <th>रोल नाम</th>
                                <th>कार्य</th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in PersonalSecurity.CommonUtilities.GetUserRoleList())
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.RoleName</td>
                                    <td>

                                         @if (PersonalSecurity.CommonUtilities.IfExistsRole(Convert.ToInt32(item.RoleId)))
                                        {
                                            <a href="@Url.Action("EditUserPermission", "Account", new { id=@item.RoleId})">रोल सम्पादन गर्नुहोस</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("UserPermission", "Account", new { id=@item.RoleId})">रोल थप्नुहोस्</a>
                                        }
                                       

                                    </td>
                                </tr>
                                i++;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- /page content -->

