﻿@model PersonalSecurity.Areas.Admin.Models.UserRoleRightsModel
@{
    ViewBag.Title = "AddUserRoleRights";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@Html.Partial("_LayouLeftSideBarAdmin")

<script>
    $(function () {

        $('#SelectAll').change(function () {
            if ($(this).prop('checked')) {
                $('tbody tr td input[type="checkbox"]').each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $('tbody tr td input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
    });
</script>
<script type="text/javascript">
    function getrights() {
        var k = jQuery.noConflict();
        k("form").submit();

    }

</script>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assign Role to Employee <small></small></h2>
                    <a href="~/Admin/Employee/Create">
                        <h2 style="float: right;">Add New</h2>
                    </a>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    @using (Html.BeginForm("AddUserRoleRights", "Account", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)

                        <div class="well">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="label_width">User Type</label>
                                    @Html.DropDownListFor(m => m.USER_TYPE_CD, PersonalSecurity.CommonUtilities.GetUserType(), "--Select--", new { @class = "form-control" })

                                </div>
                                <div class="col-md-3">
                                    <label class="label_width">Group</label>

                                    @Html.DropDownListFor(m => m.GroupRole, PersonalSecurity.CommonUtilities.GetGroup(), "--Select--", new { @onchange = "getright6s()", @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <br />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" name="btnsearch" type="submit"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="divTableDataHolder" class="table">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.CheckBoxFor(model => model.SelectAll)
                                            @Html.DisplayNameFor(model => model.AclControllerLabel)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody class="searchable">

                                    @foreach (var item in Model.UserRoleRightsModelMainList)
                                    {    
      
                                        <tr>
                                            <td>



                                                <label class="single_checkbox" onclick="showHideDiv('@item.AclControllerRecordId')">
                                                    @Html.CheckBoxFor(model => model.SelectDiv, new { @class = "con_" + @item.AclControllerRecordId })
                                                    @Html.DisplayFor(modelItem => item.AclControllerLabel)</label>



                                                @for (int i = 0; i < Model.UserRoleRightsModelList.Count; i++)
                                                {

                                                    if (item.AclControllerRecordId == Model.UserRoleRightsModelList[i].AclControllerRecordId)
                                                    {
                                                    <div  class="con_@item.AclControllerRecordId" style="">


                                                        <span class="looping_cehckbox">


                                                            @Html.HiddenFor(model => Model.UserRoleRightsModelList[i].AclActionRecordId)
                                                            @Html.CheckBoxFor(modelItem => Model.UserRoleRightsModelList[i].isChecked, new { @class = "con_" + @item.AclControllerRecordId })

                                                            @Html.DisplayFor(modelItem => Model.UserRoleRightsModelList[i].AclActionLabel)

                                                        </span>
                                                    </div>
            
            
            
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        
                         
                        <div class="bottom_btn">

                            <button type="submit" name="btn" value="Add Permission" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
                        </div>
                        
                    }

                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        4Pix Solution Pvt Ltd..
                    @*Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>*@
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
<script type="text/javascript">
    function showHideDiv(divId) {
        if ($('.con_' + divId).prop('checked')) {
            $('.con_' + divId).prop('checked', true);


        }
        else {
            $('.con_' + divId).prop('checked', false);
        }
    }



</script>


<!-- jQuery -->
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="~/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="~/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="~/vendors/Flot/jquery.flot.js"></script>
<script src="~/vendors/Flot/jquery.flot.pie.js"></script>
<script src="~/vendors/Flot/jquery.flot.time.js"></script>
<script src="~/vendors/Flot/jquery.flot.stack.js"></script>
<script src="~/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="~/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/vendors/moment/min/moment.min.js"></script>
<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>
