﻿@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}



<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>तपाईँको विवरण पेश भयो । अन्य विवरणको लागि कृपया सम्बन्धित कार्यलयमा सम्पर्क गर्नुहोस वा आफ्नो ईमेल चेक गर्नुहोस ।</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
</div>







