﻿@{
    ViewBag.Title = "सहयोग";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LayouLeftSideBarAdmin")
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2></h2>


                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                </div>
            </div>
        </div>


    </div>
    <br />
</div>

