﻿@model PersonalSecurity.Areas.Admin.Models.AgencySetupModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LayouLeftSideBarAdmin")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>निकायको भौगोलिक क्षेत्रको विवरण</h2>
                        <div class="clearfix"></div>
                        <div style="color: red; font-style: italic;">
                            <br />
                            @if (ViewBag.ErrorMessage != null)
                            {
                                @ViewBag.ErrorMessage 
                            }
                        </div>

                        <div class="clearfix"></div>
                    </div>


                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                
                                    @Html.HiddenFor(m => m.AgencyId)
                                   
                                    <div class="form-group">



                                        @for (int i = 0; i < Model.AgencyGeographicCoverageModelList.Count; i++)
                                        {
                                            string DistrictNameWithCode = Model.AgencyGeographicCoverageModelList[i].DistrictName + " (" + Model.AgencyGeographicCoverageModelList[i].DistrictId + ")";
                             
                                            <span style="margin-right: 3px; margin-bottom: 5px; display: inline-block; background: #F5F5F5; padding: 1px 5px; border: 1px solid #ddd; width: 155px;">
                                                @Html.CheckBoxFor(model => Model.AgencyGeographicCoverageModelList[i].IsChecked)
                                                @DistrictNameWithCode
                                                @Html.HiddenFor(model => Model.AgencyGeographicCoverageModelList[i].DistrictId)
                                            </span> 
                                        }



                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.ActionLink(PersonalSecurity.CommonUtilities.GetMainMenuLabel(), "Index", null, new { @class = "btn btn-primary btn-sm" })
                                            @* <button class="btn btn-primary" type="button">Cancel</button>*@
                                            @*<button class="btn btn-primary" type="reset">Reset</button>*@
                                            <button type="submit" class="btn btn-success btn-sm">@PersonalSecurity.CommonUtilities.GetSubmitLabel()</button>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>










