﻿@model PersonalSecurity.Areas.Admin.Models.AgencySetupModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LayouLeftSideBarAdmin")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>नयाँ निकायको विवरण</h2>
                        <div class="clearfix"></div>
                        <div style="color: red; font-style: italic;">
                            <br />
                            @if (ViewBag.ErrorMessage != null)
                            {
                                @ViewBag.ErrorMessage 
                            }
                        </div>

                        <div class="clearfix"></div>
                    </div>


                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                
                                    @Html.Partial("CRUD");
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.ActionLink(PersonalSecurity.CommonUtilities.GetMainMenuLabel(), "Index", null, new { @class = "btn btn-primary btn-sm" })
                                            @* <button class="btn btn-primary" type="button">Cancel</button>*@
                                            @*<button class="btn btn-primary" type="reset">Reset</button>*@
                                            <button type="submit" class="btn btn-success btn-sm">@PersonalSecurity.CommonUtilities.GetSubmitLabel()</button>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetProvisionDistrictByProvisionId() {
        GetProvincesVDCDetails();
        var value = k('#ProvincesId option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesDistrictByProId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value },
            success: function (data) {
                var items = "";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#ProvincesDistrictId").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>

<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetProvincesVDCDetails() {
        var value = k('#ProvincesId option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesVDCByProId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value },
            success: function (data) {
                var items = "";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#ProvincesVDCID").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>

<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetProvincesVDCDetailsByDistrictId() {

        var value = k('#ProvincesDistrictId option:selected').val();
        var StateId = k('#ProvincesId option:selected').val();
        k.ajax({
            url: "@Url.Action("GetProvincesVDCByDistrictId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { id: value, StateId: StateId },
            success: function (data) {
                var items = "";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#ProvincesVDCID").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }
</script>





