﻿@model PersonalSecurity.Areas.Admin.Models.AgencySetupModel



<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.AgencyName)
        @Html.TextBoxFor(m => m.AgencyName, new { @class = "form-control", @required = "required" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ProvincesId)
        @Html.DropDownListFor(m => m.ProvincesId, PersonalSecurity.CommonUtilities.GetprovincesNepal(), new { @class = "form-control", @required = "required", @onchange = "GetProvisionDistrictByProvisionId()" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ProvincesDistrictId)
        @Html.DropDownListFor(m => m.ProvincesDistrictId, PersonalSecurity.CommonUtilities.GetprovincesDistrictOfNepal(Model.ProvincesId), new { @class = "form-control", @required = "required", @onclick = "GetProvincesVDCDetailsByDistrictId()" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ProvincesVDCId)
        @Html.DropDownListFor(m => m.ProvincesVDCId, PersonalSecurity.CommonUtilities.GetVDCNPTitleOfProvincesByProvincesId(Model.ProvincesId,Model.ProvincesDistrictId), new { id = "ProvincesVDCID", @class = "form-control", @required = "required" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.WardNumber)
        @Html.TextBoxFor(m => m.WardNumber, new { @class = "form-control", @required = "required" })

    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ContactNumber)
        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", @required = "required" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ShortDescription)
        @Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control", @required = "required" })

    </div>


    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.EmailId)
        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @required = "required" })
    </div>


</div>

<div class="ln_solid"></div>

