﻿@model PersonalSecurity.Areas.Admin.Models.AgencySetupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>निकाय <small>जम्मा :@Model.AgencySetupModelList.Count</small></h2>
                    <a href="~/Admin/AgencySetup/Create">
                        <h2 style="float: right;">नयाँ</h2>
                    </a>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.AgencyName)</th>
                                <th>@Html.LabelFor(m => m.ProvincesId)</th>
                                <th>@Html.LabelFor(m => m.ProvincesDistrictId)</th>
                                <th>@Html.LabelFor(m => m.ContactNumber)</th>
                                <th>@Html.LabelFor(m => m.EmailId)</th>
                                <th></th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.AgencySetupModelList)
                            {
                                <tr>
                                    <td>@item.AgencyName</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetProvinecesNepalById(item.ProvincesId)</td>
                                    <td>@PersonalSecurity.CommonUtilities.GetProvinecesDistrictByDistrictIdNew(item.ProvincesDistrictId)</td>
                                    <td>@item.ContactNumber</td>
                                    <td>@item.EmailId</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.AgencyId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                        @Html.ActionLink("Add Working Area", "AddGeographicCoverage", new { @id = item.AgencyId }, new { @class = "fa fa-pencil-square-o" })||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.AgencyId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <br />





</div>
<!-- /page content -->





