﻿@model PersonalSecurity.Areas.Agency.Models.KindDistributionDetailModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.KindName)
        @Html.TextBoxFor(m => m.KindName, new { @class = "form-control", required = "required" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.EquivalentPrice)
        @Html.TextBoxFor(m => m.EquivalentPrice, new { @class = "form-control", required = "required" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control StartEndDate", required = "required" })
    </div>

    <div class="clearfix"></div>


</div>
<div class="ln_solid"></div>

