﻿@model PersonalSecurity.Areas.Agency.Models.KindDistributionDetailModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}

@Html.Partial("_LayouLeftSideBarAgency")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>Update: Kind(Inventory)</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                    
                                    @Html.HiddenFor(m => m.AgencyId)
                                    @Html.HiddenFor(m => m.Status)
                                    @Html.HiddenFor(m => m.CreatedDate)
                                    @Html.HiddenFor(m=>m.KindDistributionId)
                                
                                    @Html.Partial("CRUD");
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success btn-sm">Update</button>
                                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
                                            @* <button class="btn btn-primary" type="button">Cancel</button>*@
                                            @*<button class="btn btn-primary" type="reset">Reset</button>*@

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
