﻿@model PersonalSecurity.Areas.Agency.Models.KindDistributionDetailModel

@{
    ViewBag.Title = "Kind(Inventory) List";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}

@Html.Partial("_LayouLeftSideBarAgency")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Kind(Inventory) List<small>Total:@Model.KindDistributionDetailModelList.Count</small></h2>
                    <a href="~/Agency/KindDistribution/Create">
                        <h2 style="float: right;">Add New</h2>
                    </a>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.KindName)</th>
                                <th>@Html.LabelFor(m => m.EquivalentPrice)</th>
                                                               
                                <th></th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.KindDistributionDetailModelList)
                            {
                                <tr>
                                    <td>@item.KindName</td>
                                   
                                    <td>@item.EquivalentPrice</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.KindDistributionId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.KindDistributionId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <br />





</div>
<!-- /page content -->

