﻿@model PersonalSecurity.Areas.Admin.Models.ProgramSetupModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjSubProgramSetupModel.ProgramSetupId)
        @Html.DropDownListFor(m => m.ObjSubProgramSetupModel.ProgramSetupId, PersonalSecurity.CommonUtilities.GetProgramList(), new { @class = "form-control", required = "required" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjSubProgramSetupModel.SubProgramName)
        @Html.TextBoxFor(m => m.ObjSubProgramSetupModel.SubProgramName, new { @class = "form-control", required = "required" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjSubProgramSetupModel.Remarks)
        @Html.TextBoxFor(m => m.ObjSubProgramSetupModel.Remarks, new { @class = "form-control" })
    </div>


    <div class="clearfix"></div>


</div>
<div class="ln_solid"></div>
<div>Working Area</div>
<br />
<div class="form-group">


    @for (int i = 0; i < Model.SubProgramGeoDetailsModelList.Count; i++)
    {
        string DistrictNameWithCode = Model.SubProgramGeoDetailsModelList[i].DistrictName + " (" + Model.SubProgramGeoDetailsModelList[i].DistrictId + ")";
                             
        <span style="margin-right: 3px; margin-bottom: 5px; display: inline-block; background: #F5F5F5; padding: 1px 5px; border: 1px solid #ddd; width: 155px;">
            @Html.CheckBoxFor(model => Model.SubProgramGeoDetailsModelList[i].Status)
            @DistrictNameWithCode
            @Html.HiddenFor(model => Model.SubProgramGeoDetailsModelList[i].DistrictId)
        </span> 
    }

</div>
