﻿@model PersonalSecurity.Areas.Admin.Models.ProgramSetupModel

@{
    ViewBag.Title = "List Sub-Programmes";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}


@Html.Partial("_LayouLeftSideBarAgency")
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sub-Programmes List<small>Total :@Model.SubProgramSetupModelList.Count</small></h2>
                    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary btn-sm pull-right" })

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(model => model.ObjSubProgramSetupModel.ProgramSetupId)</th>
                                <th>@Html.LabelFor(model => model.ObjSubProgramSetupModel.SubProgramName)</th>
                                <th>Action</th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.SubProgramSetupModelList)
                            {
                                <tr>
                                    <td>@PersonalSecurity.CommonUtilities.GetProgramNameByProgramId(item.ProgramSetupId)</td>
                                    <td>@item.SubProgramName</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.SubProgramSetupId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.SubProgramSetupId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <br />

</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>

<script>
    $(document).ready(function () {
       
        var success = @((TempData["msg"] != null).ToString().ToLower());
        if (success == true)
        {           
            var CreateOrEdit='@TempData["msg"]';
            displayToastr(CreateOrEdit);
        }

    });

    function displayToastr(SuccessMessage) {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1500",
            "timeOut": "6000",
            "extendedTimeOut": "1200",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success(SuccessMessage)             
        
    };
</script>

<!-- /page content -->



