﻿@model PersonalSecurity.Areas.Admin.Models.DesignationModel

@{
    ViewBag.Title = "नयाँ श्रेणी/तह";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LayouLeftSideBarAdmin")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>नयाँ श्रेणी/तह</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                    @Html.HiddenFor(m => m.Status)
                                    
                                    @Html.Partial("CRUD");
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success">@PersonalSecurity.CommonUtilities.GetSubmitLabel()</button>
                                            @Html.ActionLink(PersonalSecurity.CommonUtilities.GetMainMenuLabel(), "Index", null, new { @class = "btn btn-primary" })

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- footer content -->






