﻿@model PersonalSecurity.Areas.Admin.Models.DesignationModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DesignationNameEng)
        @Html.TextBoxFor(m => m.DesignationNameEng, new { @class = "form-control" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DesignationNameNep)
        @Html.TextBoxFor(m => m.DesignationNameNep, new { @class = "form-control" })
    </div>

</div>
<div class="ln_solid"></div>

