﻿@model PersonalSecurity.Areas.Admin.Models.DepartmentRecordsModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DepartmentNameEng)
        @Html.TextBoxFor(m => m.DepartmentNameEng, new { @class = "form-control", @required = "required" })

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DepartmentNameNep)
        @Html.TextBoxFor(m => m.DepartmentNameNep, new { @class = "form-control", @required = "required" })
    </div>

</div>
<div class="ln_solid"></div>


