﻿@model PersonalSecurity.Areas.Admin.Models.DepartmentRecordsModel

@{
    ViewBag.Title = "विभाग-सूची";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>विभाग-सूची<small>@PersonalSecurity.CommonUtilities.GetTotalLabel() :@Model.DepartmentRecordsModelList.Count</small></h2>
                    @Html.ActionLink("नयाँ", "Create", null, new { @class = "btn btn-primary btn-sm pull-right" })

                    @*<a href="~/Admin/DepartmentRecord/Create" class="btn btn-primary btn-sm">

                        <h2 style="float: right;">@PersonalSecurity.CommonUtilities.GetAddLabel()</h2>
                    </a>*@

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>विभाग(अंग्रेजी)</th>
                                <th>विभाग(नेपाली)</th>
                                <th></th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.DepartmentRecordsModelList)
                            {
                                <tr>
                                    <td>@item.DepartmentNameEng</td>
                                    <td>@item.DepartmentNameEng</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.DepartmentRecordsId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.DepartmentRecordsId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- /page content -->

