﻿@model PersonalSecurity.Areas.Agency.Models.DistributionDetailsModel

@{
    ViewBag.Title = "AddDistribution";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}



@Html.Partial("_LayouLeftSideBarAgency")


<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>घरपरिवार विवरण</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.householdID1):                                        
                                        @PersonalSecurity.EnglishNepaliNumberViceVersa.EnglishToNepali(Model.objHouseHoldModel.householdID1)

                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.FullName):
                                        @Html.DisplayFor(m => m.objHouseHoldModel.FullName)

                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.sex):
                                       @PersonalSecurity.CommonUtilities.GetGender(Model.objHouseHoldModel.sex)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.citizencp_no):
                                        @Html.DisplayFor(m => m.objHouseHoldModel.citizencp_no)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.citzen_dcode):
                                        @Html.DisplayFor(m => m.objHouseHoldModel.citzen_dcode)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.FatherHusbandFullName):
                                        @Html.DisplayFor(m => m.objHouseHoldModel.FatherHusbandFullName)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.hhsize):
                                        @PersonalSecurity.EnglishNepaliNumberViceVersa.EnglishToNepali(Model.objHouseHoldModel.hhsize.ToString())
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        ठेगाना:- @Html.LabelFor(m => m.objHouseHoldModel.state):
                                        @PersonalSecurity.CommonUtilities.GetProvinecesNepalById(Convert.ToInt32(Model.objHouseHoldModel.state))
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.dist_Unicode):
                                       @Html.DisplayFor(m => m.objHouseHoldModel.dist_Unicode)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.lbody_Unicode):
                                       @Html.DisplayFor(m => m.objHouseHoldModel.lbody_Unicode)
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.lb_ward):
                                        @PersonalSecurity.EnglishNepaliNumberViceVersa.EnglishToNepali(Model.objHouseHoldModel.lb_ward.ToString())
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        @Html.LabelFor(m => m.objHouseHoldModel.setlmnt_Unicode):
                                       @Html.DisplayFor(m => m.objHouseHoldModel.setlmnt_Unicode)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>








    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>नयाँ वितरणको विवरण</h2>

                        <div class="clearfix"></div>
                    </div>                 

                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                    @Html.HiddenFor(m => m.AgencyId)
                                    
                                    @Html.Partial("CRUD")
                                    
                                    <br />
                                    <hr />
                                                                       
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success">@PersonalSecurity.CommonUtilities.GetSubmitLabel()</button>
                                            @Html.ActionLink(PersonalSecurity.CommonUtilities.GetMainMenuLabel(), "Index", null, new { @class = "btn btn-primary" })

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var k = jQuery.noConflict();
    function GetSubProgramByProgramId() {

        var value = k('#ProgramId option:selected').val();
        k.ajax({
            url: "@Url.Action("GetSubProgramListByProgramId", "AjaxCall")",
            type: 'POST',
            datatype: "json",
            data: { ProgramId: value },
            success: function (data) {
                var items = "";
                k.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                k("#SubProgramId").html(items);
            },
            failure: function () {
                alert('An error occurred.');
            }
        })
    }

    function GetKindAmountFromKindDistributionId() {

        var value = k('#KindDistributionId option:selected').val();
        if (value != 0) {
            k.ajax({
                url: "@Url.Action("GetDistributionAmountOfKind", "AjaxCall")",
                type: 'POST',
                datatype: "json",
                data: { KindDistributionId: value },
                success: function (data) {
                    k("#Amount").val(data.Amount);
                    k("#Descriptions").val(data.Descriptions);

                    $("#Amount").attr("readonly", "readonly");
                    $("#Descriptions").attr("readonly", "readonly");


                    //alert(data.Amount + "" + data.Descriptions);
                },
                failure: function () {
                    alert('An error occurred.');
                }
            })
        }
    }
</script>



