﻿@model PersonalSecurity.Areas.Agency.Models.DistributionDetailsModel

<div class="row">

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.Label("घरमूलिको नाम")
        @Html.TextBoxFor(m => m.objHouseHoldModel.FullName, new { @class = "form-control", required = "required", @readonly = "readonly" })
        @Html.HiddenFor(m => m.objHouseHoldModel.householdID1)
    </div>


    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DistributedDate)
        @Html.TextBoxFor(m => m.DistributedDate, new { @class = "form-control", required = "required" })
    </div>


    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ProgramId)
        @Html.DropDownListFor(m => m.ProgramId, PersonalSecurity.CommonUtilities.GetProgramList(), "----छान्नुहोस----", new { @class = "form-control", required = "required", @Onchange = "GetSubProgramByProgramId()" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.SubProgramId)
        @Html.DropDownListFor(m => m.SubProgramId, PersonalSecurity.CommonUtilities.GetSubProgramList(), "----छान्नुहोस---", new { @class = "form-control", required = "required" })
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DistributionType)
        @Html.DropDownListFor(m => m.DistributionType, PersonalSecurity.CommonUtilities.GetDistributionHelpType(), new { @class = "form-control", required = "required", @OnChange = "ShowHideKindTypeDetails()" })
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group" id="KindDistributionDiv">
        @Html.LabelFor(m => m.KindDistributionId)
        @Html.DropDownListFor(m => m.KindDistributionId, PersonalSecurity.CommonUtilities.GetKindDistributionsByAgencyId(Model.AgencyId), new { @class = "form-control", @OnChange = "GetKindAmountFromKindDistributionId()" })
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", required = "required" })
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.Descriptions)
        @Html.TextBoxFor(m => m.Descriptions, new { @class = "form-control", required = "required" })
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.Remarks)
        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", required = "required" })
    </div>
    <div class="clearfix"></div>
</div>
<div class="ln_solid"></div>

<script src="~/vendors/inputmask/jquery2.min.js"></script>
<script src="~/vendors/inputmask/inputmask.js"></script>
<script type="text/javascript">
    var inmask = jQuery.noConflict();
    inmask(window).load(function () {
        inmask("#DistributedDate").inputmask("99/99/9999");
    });
</script>
<script type="text/javascript">
    var k = jQuery.noConflict();
    function ShowHideKindTypeDetails() {

        var value = k('#DistributionType option:selected').val();
        if (value == 1) {
            k('#KindDistributionDiv').hide();
            $('#Amount').val('');
            $('#Descriptions').val('');

            $('#Amount').attr('readonly', false);
            $('#Descriptions').attr('readonly', false);
        }
        else {
            k('#KindDistributionDiv').show();
        }

    };
</script>
