﻿@model PersonalSecurity.Areas.Agency.Models.DistributionDetailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agency/Views/Shared/_LayoutAgency.cshtml";
}


@Html.Partial("_LayouLeftSideBarAgency")


<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>वितरणको विवरण -सूचि<small>@PersonalSecurity.CommonUtilities.GetTotalLabel() :१२</small></h2>
                    @Html.ActionLink("नयाँ वितरण", "AddDistribution", null, new { @class = "btn btn-primary btn-sm pull-right" })

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.ProgramId)</th>
                                <th>@Html.LabelFor(m => m.SubProgramId)</th>

                                <th></th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.DistributionDetailsModelList)
                            {
                                <tr>
                                    <td>@PersonalSecurity.CommonUtilities.GetProgramNameByProgramId(item.ProgramId)</td>

                                    <td>@PersonalSecurity.CommonUtilities.GetSubProgramNameBySubProgramId(item.SubProgramId)</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.DistributionsId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.DistributionsId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <br />

</div>
<!-- /page content -->

