﻿<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><span>सामाजिक सुरक्षा</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/Images/user.png" alt="..." class="img-circle profile_img" />

            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@User.Identity.Name</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i>प्रयोगकर्ता व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="~/Admin/DepartmentRecord/index">विभाग</a></li>
                            <li><a href="~/Admin/DesignationSetup/index">श्रेणी/तह</a></li>
                            <li><a href="~/Admin/UserTypeSetup/Index">प्रयोगकर्ता प्रकार</a></li>
                            <li><a href="~/Admin/Employee/Index">प्रयोगकर्ता सेटअप</a></li>
                            <li><a href="/Account/RoleList">प्रयोगकर्ताको अधिकार</a></li>
                        </ul>
                    </li>



                    @* <li><a><i class="fa fa-edit"></i>Common Setups<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="~/Admin/DepartmentRecord/index">Department</a></li>
                            <li><a href="~/Admin/DesignationSetup/index">Designation</a></li>
                            <li><a href="~/Admin/Employee/Index">Employee</a></li>
                            <li><a href="form_wizards.html">User Group</a></li>
                            <li><a href="~/Admin/UserTypeSetup/Index">User Type</a></li>
                            <li><a href="~/Admin/RoleAssign/Index">Assign Role To User</a></li>
                        </ul>
                    </li>*@

                    <li><a><i class="fa fa-bug"></i>निकाय व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="~/Admin/AgencySetup/index">निकाय सेटअप</a></li>

                        </ul>
                    </li>
                    <li><a><i class="fa fa-windows"></i>घरपरिवार व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="~/HouseHold/HouseHold/HouseHoldList">गरीब घरपरिवार</a></li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav side-menu">
                </ul>
            </div>
            <div class="menu_section">
            </div>

        </div>
        <!-- /sidebar menu -->


    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/user.png" alt="">@User.Identity.Name

                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="~/Admin/Home/Profile">प्रोफाईल</a></li>
                        <li>
                            <a href="~/Account/Manage">
                                <span>पासवर्ड परिवर्तन</span>
                            </a>
                        </li>

                        <li><a href="~/Admin/Home/Help">सहयोग</a></li>
                        <li><a href="~/Account/LogOff"><i class="fa fa-sign-out pull-right" title="Logout"></i>बाहिर जानुहोस</a></li>

                    </ul>
                </li>

                @*<li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>*@
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
