﻿@model PersonalSecurity.Areas.Admin.Models.ProgramSetupModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjProgramSetupMasterModel.ProgramName)
        @Html.TextBoxFor(m => m.ObjProgramSetupMasterModel.ProgramName, new { @class = "form-control", required = "required" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjProgramSetupMasterModel.StartDate)
        @Html.TextBoxFor(m => m.ObjProgramSetupMasterModel.StartDate,"{0:yyyy-MM-dd}", new { @class = "form-control StartEndDate", required = "required", @type = "date" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjProgramSetupMasterModel.EndDate)
        @Html.TextBoxFor(m => m.ObjProgramSetupMasterModel.EndDate, "{0:yyyy-MM-dd}",new { @class = "form-control StartEndDate", required = "required",@type = "date"})
    </div>

    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ObjProgramSetupMasterModel.Remarks)
        @Html.TextBoxFor(m => m.ObjProgramSetupMasterModel.Remarks, new { @class = "form-control" })
    </div>


    <div class="clearfix"></div>


</div>
<div class="ln_solid"></div>
