﻿@model PersonalSecurity.Areas.Admin.Models.ProgramSetupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>कार्यक्रम -सूचि<small>@PersonalSecurity.CommonUtilities.GetTotalLabel() :@Model.ProgramSetupMasterModelList.Count</small></h2>
                    @Html.ActionLink("नयाँ", "Create", null, new { @class = "btn btn-primary btn-sm pull-right" })

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(model => model.ObjProgramSetupMasterModel.ProgramName)</th>
                                <th>@Html.LabelFor(model => model.ObjProgramSetupMasterModel.StartDate)</th>
                                <th>@Html.LabelFor(model => model.ObjProgramSetupMasterModel.EndDate)</th>
                                <th></th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model.ProgramSetupMasterModelList)
                            {
                                <tr>
                                    <td>@item.ProgramName</td>
                                    <td>@item.StartDate.ToShortDateString()</td>
                                    <td>@item.EndDate.ToShortDateString()</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.ProgramSetupId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.ProgramSetupId }, new { @class = "fa fa-trash" })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <br />





</div>
<!-- /page content -->


