﻿@model PersonalSecurity.Areas.Admin.Models.UserTypeModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.UserTypeName)
        @Html.TextBoxFor(m => m.UserTypeName, new { @class = "form-control", @required = "required" })

    </div>


</div>
<div class="ln_solid"></div>

