﻿@model PersonalSecurity.Areas.Admin.Models.EmployeeRecordModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />

@Html.Partial("_LayouLeftSideBarAdmin")

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>नयाँ प्रयोगकर्ता</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="container">
                            <div class="col-md-12">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                {
                                    
                                    @Html.Partial("CRUD")
                                    
                                    <br />
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.UserName)
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required", placeholder = "User Name" })

                                        </div>

                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.Password)
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", placeholder = "Password" })

                                        </div>

                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.RetypePassword)
                                            @Html.PasswordFor(m => m.RetypePassword, new { @class = "form-control", required = "required", placeholder = "Password" })

                                        </div>

                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.UserType)
                                            @Html.DropDownListFor(m => m.UserType, PersonalSecurity.CommonUtilities.GetUserType(), new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            @Html.LabelFor(m => m.RoleType)
                                            @Html.DropDownListFor(m => m.RoleType, PersonalSecurity.CommonUtilities.GetGroup(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-success">@PersonalSecurity.CommonUtilities.GetSubmitLabel()</button>
                                            @Html.ActionLink(PersonalSecurity.CommonUtilities.GetMainMenuLabel(), "Index", null, new { @class = "btn btn-primary" })

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
</div>


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script type="text/javascript">
    var k = $.noConflict();
    k(function () { // will trigger when the document is ready
        k('.DateOfBirth').datepicker(); //Initialise any date pickers
    });
</script>


