﻿@model PersonalSecurity.Areas.Admin.Models.EmployeeRecordModel

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.FullNameEng)
        @Html.TextBoxFor(m => m.FullNameEng, new { @class = "form-control", required = "required", placeholder = "Full Name English" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.FullNameNep)
        @Html.TextBoxFor(m => m.FullNameNep, new { @class = "form-control", required = "required", placeholder = "Full Name Nepali" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control DateOfBirth", required = "required", placeholder = "Date of Birth" })
    </div>

    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.MartialStatus)
        @Html.DropDownListFor(m => m.MartialStatus, PersonalSecurity.CommonUtilities.GetMaritialRecordsList(), new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.GenderId)
        @Html.DropDownListFor(m => m.GenderId, PersonalSecurity.CommonUtilities.GetGenderRecordsList(), new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DesignationId)
        @Html.DropDownListFor(m => m.DesignationId, PersonalSecurity.CommonUtilities.GetDesignationList(), new { @class = "form-control" })
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.MobileNumber)
        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", required = "required", placeholder = "Mobile" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.ContactNumber)
        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", required = "required", placeholder = "Contact" })
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.DepartmentId)
        @Html.DropDownListFor(m => m.DepartmentId, PersonalSecurity.CommonUtilities.GetDepartmentList(), new { @class = "form-control" })
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", required = "required", placeholder = "Address" })
    </div>

    <div class="clearfix"></div>


</div>
<div class="ln_solid"></div>
