﻿@model PersonalSecurity.Areas.Admin.Models.EmployeeRecordModel

@{
    ViewBag.Title = "प्रयोगकर्ता-सूची";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@Html.Partial("_LayouLeftSideBarAdmin")




<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>प्रयोगकर्ता-सूची<small>@PersonalSecurity.CommonUtilities.GetTotalLabel() :@Model.EmployeeRecordModelList.Count()</small></h2>
                    <a href="~/Admin/Employee/Create">
                        <h2 style="float: right;">@PersonalSecurity.CommonUtilities.GetAddLabel()</h2>
                    </a>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(model=>model.FullNameEng)</th>
                                <th>@Html.LabelFor(model=>model.DesignationId)</th>
                                <th>@Html.LabelFor(model=>model.DepartmentId)</th>
                                <th>@Html.LabelFor(model=>model.MobileNumber)</th>
                                <th></th>
                            
                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in Model.EmployeeRecordModelList)
                            {
                                <tr>
                                    <td>@item.FullNameEng</td>
                                    <td>@item.DesignationId</td>
                                    <td>@item.DepartmentId</td>
                                    <td>@item.MobileNumber</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { @id = item.EmployeeId }, new { @class = "fa fa-pencil-square-o" })
                                        ||
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.EmployeeId }, new { @class = "fa fa-trash" })
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <br />





</div>
