﻿<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-paw"></i><span>सामाजिक सुरक्षा</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/Images/img.jpg" alt="..." class="img-circle profile_img" />

            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Admin</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">              
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i>प्रयोगकर्ता व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                           <li><a href="~/Admin/DepartmentRecord/index">विभाग</a></li>
                             <li><a href="~/Admin/DesignationSetup/index">श्रेणी/तह</a></li>
                            <li><a href="~/Admin/UserTypeSetup/Index">प्रयोगकर्ता प्रकार</a></li>                            
                            <li><a href="~/Admin/Employee/Index">प्रयोगकर्ता सेटअप</a></li>
                            <li><a href="/Account/RoleList">प्रयोगकर्ताको अधिकार</a></li>
                        </ul>
                    </li>



                   @* <li><a><i class="fa fa-edit"></i>Common Setups<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="~/Admin/DepartmentRecord/index">Department</a></li>
                            <li><a href="~/Admin/DesignationSetup/index">Designation</a></li>
                            <li><a href="~/Admin/Employee/Index">Employee</a></li>
                            <li><a href="form_wizards.html">User Group</a></li>
                            <li><a href="~/Admin/UserTypeSetup/Index">User Type</a></li>
                            <li><a href="~/Admin/RoleAssign/Index">Assign Role To User</a></li>
                        </ul>
                    </li>*@

                   <li><a><i class="fa fa-bug"></i>निकाय व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="e_commerce.html">निकाय सेटअप</a></li>
                            
                        </ul>
                    </li>
                    <li><a><i class="fa fa-windows"></i>घरपरिवार व्यवस्थापन<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="page_403.html">गरीब घरपरिवार</a></li>
                          
                        </ul>
                    </li>
                </ul>

                <ul class="nav side-menu">
                   
                   
                </ul>
            </div>
            <div class="menu_section">              
                
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/img.jpg" alt="">John Doe
                   
                                    <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;">Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>

                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="~/Account/LogOff"><i class="fa fa-sign-out pull-right" title="Logout"></i>Log Out</a></li>

                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image">
                                    <img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
